<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteCond $1 !^(index\.php|bootstrap|guide|assets|robots\.txt)
	RewriteRule ^(.*)$ index.php/$1 [L]

	ErrorDocument 403 http://mzs.com/errors
</IfModule>
