<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteCond $1 !^(index\.php|bootstrap|guide|assets|robots\.txt)
	RewriteRule ^(.*)$ index.php/$1 [L]

	ErrorDocument 403 /errors
</IfModule>

<IfModule !mod_rewrite.c>
	ErrorDocument 404 /index.php
</IfModule>
